@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text&family=Source+Sans+Pro:wght@600&display=swap');

:root {
  --black: #212121
}
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
h1, h2, h3, h4 { 
  letter-spacing: 5px;
  font-family: 'Source Sans Pro', sans-serif;
}
p {
  font-size: 16px;
  font-family: 'Fanwood Text', serif;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  width: 2px;
  background: var(--black);
}
.btn-white {
  transition: 0.5s;
  cursor: pointer;
  text-align: center;
  background-color: white;
  text-align: center;
  padding: 1.5% 0%;
}
.btn-white a {
  margin-left: 5px;
  padding: 0 15px;
  text-decoration: none;
  color: black;
}
.btn-white:hover {
  box-sizing: border-box;
  transition: 0.5s;
  background-color: black;
  box-shadow:inset 0px 0px 0px 1px white;
}
.btn-white:hover a {
  color: white;
}
.btn-black {
  transition: 0.5s;
  cursor: pointer;
  text-align: center;
  background-color: var(--black);
  text-align: center;
  padding: 0.5% 0%;
}
.btn-black a {
  margin-left: 5px;
  padding: 0 15px;
  text-decoration: none;
  color: white;
}
.btn-black:hover {
  box-sizing: border-box;
  transition: 0.5s;
  background-color: white;
  box-shadow:inset 0px 0px 0px 1px var(--black);
}
.btn-black:hover a {
  color: black;
}
.btn-white-outline {
  transition: 0.5s;
  cursor: pointer;
  box-shadow:inset 0px 0px 0px 1px white;
  text-align: center;
  text-align: center;
  padding: 0.5% 0%;
}
.btn-white-outline a {
  margin-left: 5px;
  padding: 0 15px;
  text-decoration: none;
  color: white;
}
.btn-white-outline:hover {
  box-sizing: border-box;
  transition: 0.5s;
  background-color: white;
  box-shadow:inset 0px 0px 0px 1px var(--black);
}
.btn-white-outline:hover a {
  color: black;
}

