.carousel-p {
    transition: 0.5s;
    width: fit-content;
    height: fit-content;
    display: flex;
    position: relative;
}
.carousel-p img {
    aspect-ratio: 16/9;
    width: 50vw;
    height: 80vh;
    height: auto;
    object-fit: cover;
}
.thumb h1 {
    z-index: 100;
    cursor: pointer;
    transition: 0.8s;
    position: absolute;
    color: white;
    top: 50%;
}
.thumb h1:hover{
    transition: 0.8s;
    opacity: 0.5;
}
.thumb h1:nth-child(1) {
    left: 2%;
}
.thumb h1:nth-child(2) {
    right: 2%;
}
.gallery-tile-parent {
    aspect-ratio: 16/9;
    width: 50vw;
    overflow: hidden;
    object-fit: cover;
    display: flex;
}
.gallery-tile-parent .tile-image {
    position: absolute;
    z-index: -1;
    transition: 0.5s;
    width: 100vw;
    height: 80vh;
    aspect-ratio: 16/9;
    object-fit: cover;
}
.gallery-tile-parent:hover .tile-image{
    transition: 0.5s;
    filter: brightness(50%);
}
.gallery-tile-parent .tile-detail {
    transition: 0.5s;
    opacity: 0;
    text-align: center;
    color: white;
    width: 100%;
    margin: auto;
    transition: 0.5s;
}
.tile-detail h2 {
    font-size: 36px;
}
.tile-detail p {
    font-size: 24px;
}
.gallery-tile-parent:hover .tile-detail{
    transition: 0.5s;
    opacity: 1;
}
.gallery-tile-parent .tile-detail .btn-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.gallery-tile-parent .tile-detail .btn {
    margin-top: 20px;
    padding: 6px 4px;
    width: fit-content;
    height: fit-content;
}
/* Tablet */
@media only screen and (max-width : 1024px) {
    .carousel img {
        width: 100vw;
        height: auto;
        object-fit: cover;
    }
    .tile-detail h2 {
        font-size: 18px;
    }
    .tile-detail p {
        font-size: 12px;
    }
    .gallery-tile-parent { 
        width: 100vw;
    }
    .gallery-tile-parent .tile-detail .btn {
        margin-top: 10px;
        font-size: 12px;
        padding: 8px 2px;
        width: fit-content;
        height: fit-content;
    }
}

/* Mobile */
@media only screen and (max-width : 480px) {
    
}