.home-parent {
    scroll-behavior: smooth;
    transition: 0.5s;
}
/* Hero */
.hero {
    width: 100vw;
    height: 100vh;
}
.hero .bg-image {
    position: absolute;
    width: 100vw;
    height: 100vh;
    filter: brightness(20%);
}
.hero .bg-image .darken {
    z-index: -1;
    background-color: black;
    opacity: 0.8;
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.hero .bg-image img {
    z-index: -2;
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}
.hero-content {
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    vertical-align: center;
}
.hero-content h1{
    margin-bottom: 40px;
    font-size: 36px;
}
.hero-content p {
    margin-bottom: 40px;
    font-size: 24px;
    width: 40%;
}
.hero-content .button-parent {
    column-gap: 50px;
    display: flex;
}
.hero-content .button {
    cursor: pointer;
    transition: 1s;
    align-items: center;
    display: flex;
    column-gap: 15px;
    width: fit-content;
    height: fit-content;
    transform: translateX(0px)
}
.hero-content .box {
    transition: 1s;
    transform: rotate(0deg);
    border-radius: 0%;
    border: 2px solid white;
    height: 12px;
    width: 12px;
}
.hero-content a {
    text-decoration: none;
    color: white;
}
.hero-content .button:hover .box {
    transition: 1s; 
    background-color: white;
    opacity: 0.8;
}
.hero-content .button:hover {
    transition: 1s;
    transform: translateX(10px)
}
.hero .social-media {
    transition: 0.8s;
    position: absolute;
    bottom: 10%;
    font-size: 32px;
    color: white;
    left: 12.5%;
    display: flex;
    column-gap: 20px;
}
.hero .social-media .icon {
    transition: 0.8s;
    cursor: pointer;
}
.hero .social-media:hover .icon {
    transition: 0.8s;
    opacity: .5;
}
.hero .social-media .icon:hover {
    transition: 0.8s;
    opacity: 1;
}

/* Works Section */
.works {
    width: 100vw;
}
.works-title {
    overflow: hidden;
    height: fit-content;
    padding: 20px 0;
    width: 75%;
    margin: auto;
    text-align: center;
}
.works h3 {
    color: black;
}
.carousel-parent {
    width: 100vw;
    overflow-x: none;
    height: fit-content;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-align: start;
}
.carousel-parent::-webkit-scrollbar {
    height: 0;
}
.see-more {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
}
/* Contact Section */
.vision-parent {
    background-color: white;
    width: 100vw;
}
.vision-content {
    width: 75vw;
    height: fit-content;
    margin: auto;
}
.vision-content .vision-img{
    position: absolute;
    right: 0%;
    transform: translateY(-50%);
    width: 50vw;
    aspect-ratio: 16/9;
    height: auto;
}
.vision-content .vision {
    padding: 5% 0;
    width: 45%;
}
.vision-content .vision h2 {
    font-size: 24px;
    margin-bottom: 30px;
}
.vision-content .vision p {
    font-size: 24px;
    line-height: 32px;
}
.contact-parent {
    width: 100vw;
    position: relative;
    height: fit-content;
    overflow: hidden;
    display: flex;
    background-color: var(--black);
    color: white;
}
.contact-parent .contact-content {
    width: 75vw;
    padding: 5% 0;
    overflow: visible;
    margin: auto;
    margin-left: 12.5vw;
}
.contact-parent .right-side {
    color: white;
    margin-left: -12.5vw;
    vertical-align: middle;
    height: 30vw;
}
.contact-parent .right-side p, .right-side h2  {
    margin-left: 10%;
}
.contact-parent .contact-content h2 {
    font-size: 24px;
    margin-bottom: 30px;
}
.contact-parent .right-side h2:first-child {
    margin-top: 5%;
}
.contact-parent .right-side h2 {
    margin-bottom: 10px;
}
.contact-parent .contact-content p {
    width: 20vw;
    font-size: 16px;
    margin-bottom: 30px;
}
.contact-form {
    width: 25vw;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 40px;
}
.contact-form input {
    height: 43px;
    padding-left: 20px;
}
.contact-form input::-webkit-outer-spin-button,
.contact-form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.contact-form .message {
    height: 86px;
}
.contact-content .btn-white {
    margin-top: 20px;
    width: 25vw;
}
/* Tablet */
@media only screen and (max-width : 1024px) {
    .hero-content {
        text-align: center;
    }
    .hero-content p {
        width: 100%;
    }
    .hero .social-media {
        left: 50%;
        transform: translateX(-50%);
    }
    .button-parent .button{
        margin: auto;
    }
    .see-more .btn-black {
        text-align: center;
    }
    .vision-content .vision {
        text-align: center;
        margin: auto;
        width: 100%;
    }
    .vision-content .vision p {
        font-size: 16px;
    }
    .vision-content .vision-img{
        display: none;
    }
    .contact-parent {
        display: block;
        height: fit-content;
    }
    .contact-parent .contact-content {
        width: 100vw;
    }
    .contact-parent .left-side {
        height: 75vw;
        margin: auto;
        text-align: center;
        height: fit-content;
    }
    .contact-parent .contact-content h2 {
        margin-left: 0;
    }
    .contact-parent .contact-content p {
        margin: auto;
        width: 75vw;
    }
    .contact-form {
        margin: auto;
        margin-top: 30px;
        width: 75vw;
    }
    .contact-content .btn-white {
        margin: auto;
        margin-top: 20px;
        width: 75vw;
        padding: 1.5% 0;
    }
    .contact-parent .right-side {
        margin: auto;
        height: fit-content;
        text-align: center;
        padding-bottom: 10%;
    }
    .contact-parent .right-side > *{
        margin-left: 0;
    }
    .contact-parent .right-side h2:first-child {
        margin-top: 5%;
    }
    .contact-parent .right-side p {
        margin-bottom: 5%;
    }
}